<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <jmxConfigurator />
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d [%-9.9thread] %-5level %logger{36} %X - %msg %n%rEx{full}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/openshift-referanse-springboot-server.log</file>
    <append>true</append>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d [%-9.9thread] %-5level %logger{36} %X - %msg %n%rEx{full}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>

